/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT RESET */
/* 0.75REM = 12PX */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
}

/* DEBUG */

/* COMMON */
.flex-container {
    display: flex;
}

.main-container {
    margin: 0 auto;
    width: 65%;
}

.sub-container {
    margin: 0 auto;
    width: 80%;
}

img {
    width: 100%;
    display: block;
}

h2 {
    font-size: 2.6em;
    margin-bottom: 40px;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.1em;
}

.small-text {
    font-size: 0.85em;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.a-classic {
    text-decoration: underline;
    color: #0061ff;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-size: 1em;
}

.btn-small {
    padding: 0.6em 1.2em;
}

.btn-large {
    padding: 0.6em 0;
    text-align: center;
}

.btn-blue {
    color: white;
    background-color: #0061ff;
}

.btn-white {
    border: 1px solid black;
    color: black;
    background-color: white;
}

hr {
    border: 0.5px solid lightgray;
}

/* HEADER */
header {
    padding: 0 1.5%;
    width: 100%;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 1px 2px grey;
}

header * {
    vertical-align: middle;
}

/* HEADER NAV */
nav {
    min-height: 60px;
    justify-content: space-between;
}

.col > .flex-container {
    min-height: 100%;
    align-items: center;
}

.logo {
    width: 100px;
}

.header-info li {
    margin-right: 3em;
}

.header-user li {
    margin-left: 3em;
}

/* MAIN */
main {
    margin-top: 60px;
}

/* JUMBOTRON SECTION */
.jumbotron {
    min-height: 100vh;
    background-color: #b4d0e7;
}

.jumbotron h1 {
    margin-bottom: 30px;
    font-size: 4.9em;
}

.jumbotron-content {
    position: relative;
    top: 70px;
}

.jumbotron-content > .flex-container {
    justify-content: space-between;
}

.jumbo-text {
    width: 33%;
}

.jumbo-img {
    width: 65%;
}

.arrow {
    font-size: 3em;
}

/* jumbotron button side */
.jumbo-btn-side {
    margin: 25px 0;
}

.jumbo-btn-side .btn {
    margin-bottom: 10px;
}

/* BUSINESS PLANS SECTION */
.plans {
    margin-bottom: 100px;
}

.plans > .main-container {
    margin-top: 150px;
}

.plans .plan,
.plans .custom-plan {
    border: 1px solid lightgray; 
}

/* custom radio side */
.select-plan {
    margin-bottom: 30px;
}

.select-plan li {
    margin-right: 2em;
    display: flex;
    align-items: center;
}

.custom-radio {
    margin-right: 0.4em;
    width: 1.3em;
    height: 1.3em;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.custom-radio:hover {
    border: 4px solid #0061ff;
}

/* plan header */
.plan-header {
    padding: 0.7em 0;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

/* plan content */
.plan-content {
    padding-top: 2em;
}

/* standard plans */
#standard-plans {
    margin-bottom: 40px;
    justify-content: space-between;
}

.plan {
    width: calc(89% / 3);
    min-height: 720px;  
}

/* plan price */
.plan-price {
    margin: 10px 0;
    font-weight: 700;
}

.plan-payment {
    color: gray;
}

.plan-spec {
    margin: 30px 0;
}

.plan-spec span {
    margin-right: 0.3em;
}

.plan-spec li {
    margin-bottom: 15px;
    display: flex;
}

/* trial side */
.btn-plan {
    margin-bottom: 20px;
    font-size: 0.84em;
}

.trial {
    margin-bottom: 20px;
}

.plan-content hr {
    margin-bottom: 30px;
    width: 20%;
}

/* plan benefits */
.benefits > h4,
.benefits li {
    margin-bottom: 15px;
}

.benefits-list li {
    display: flex;
}

.benefits-list span {
    margin-right: 0.3em;
    color: #0061ff;
}

/* custom plan */
.custom-plan-content {
    padding: 2em 2em 1.7em;
}
.custom-plan-left {
    width: 70%;
}

.custom-plan-right {
    width: 30%;
}

.custom-plan-left > h3 {
    margin-bottom: 10px;
}

.custom-plan-left > h4 {
    margin-bottom: 20px;
}

/* FIND A PARTNER */
.find-partner {
    margin-bottom: 70px;
}

.find-partner .flex-container {
    justify-content: space-between;
}

.partner-img {
    width: calc(59% - 3em);
}

.partner-txt {
    padding-top: 3em;
    width: 41%;
}

.partner-txt > h3 {
    margin-bottom: 20px;
}

.partner-txt > p {
    line-height: 1.8em;
    margin-bottom: 20px;
}

/* DROPBOX OPERATIONS */
.operations {
    margin-bottom: 70px;
}

.operation-content {
    margin-bottom: 80px;
    width: calc(90% / 3);
}

.operations .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* operation card */
.operation-content h3 {
    margin-bottom: 20px;
}

/* DROPBOX USERS */
/* our users */
.our-users-text {
    width: 55%;
}

.our-users-text > h2{
    margin-bottom: 20px;
}

.our-users-cta {
    margin-bottom: 40px;
}

/* companies */
.companies-box {
    width: 30%;
    flex-wrap: wrap;
}

.companies-txt {
    padding: 3.5em 3.5em 0;
    width: 40%;
    background-color: #f5f5f5;
}

/* companies logo */
.companies-box > div {
    padding: 25% 0;
    width: 50%;
    position: relative;
}

.companies-box img {
    width: 50%;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* left logos */
.left-box > div:nth-child(1) {
    position: relative;
    background-color: #d0e9cd;
}

.center-absolute-box {
    padding: 45% 0;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #a2d39b;
    z-index: 1;
}

.left-box > div:nth-child(2) {
    background-color: #61082b;
}

.left-box > div:nth-child(3) {
    background-color: #0093ce;
}

.left-box > div:nth-child(4) {
    background-color: #ff1c1c;
}

/* right logos */
.right-box > div:nth-child(1) {
    background-color: #d5001f;
}

.right-box > div:nth-child(2) {
    background-color: #b4d0e7;
}

.right-box > div:nth-child(3) {
    background-color: #0d2481;
}

.right-box > div:nth-child(4) {
    background-color: #ffd830;
}

/* companies text */
.companies-txt > img {
    width: 25%;
    margin-bottom: 30px;
}

.companies-txt hr {
    width: 10%;
}

.companies-txt p {
    margin: 40px 0;
    line-height: 1.5em;
}

/* FREE TRIAL */
.free-trial {
    padding: 7em 0;
    background-color: #b4d0e7;
}

.free-trial > .flex-container {
    justify-content: space-between;
}

.free-trial-left {
    width: 50%;
}

.free-trial-right {
    width: 30%;
}

.free-trial-right > .btn-white {
    border: none;
}

.free-trial-left > h2 {
    margin-bottom: 0;
    color: #61082b;
}

/* QUESTIONS */
.questions {
    margin: 100px 0;
}

/* frequent questions */
.question-box {
    padding: 2em 0;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}

.box-test > h2 {
    font-size: 2.1em;
}

.question-box > span {
    width: 10%;
    font-size: 1.1em;
    text-align: center;
}

.box-test .question-box:last-child {
    border-bottom: 1px solid lightgray;
}

/* FOOTER */
footer {
    background-color: black;
}

/* footer nav */
.footer-nav {
    padding: 6em 0;
    color: white;
}

.footer-nav-col {
    width: 20%;
}

.footer-nav-col > h3 {
    margin-bottom: 1em;
    font-size: 1.4em;
}

.footer-nav-col li {
    margin-bottom: 0.3em;
}

footer hr {
    width: 10%;
    border: 0.5px solid grey;
}

/* language */
.language {
    padding: 3em 0;
    color: grey;
}